{% extends "base.html" %}

{% block title %}Vehicle Details{% endblock %}

{% block body %}

<!-- Display box for the one vehicle on the page-->
<div class="container m-5">
	<div class="box">

        <strong class="title">{{ car.model_year }} {{ car.manufacturer_name }}</strong><br><br>
        <p>
            <strong>VIN: </strong> {{ car.vin }}<br>
            <strong>Vehicle Type: </strong> {{ car.vehicle_type_name }}<br>
            <strong>Model Year: </strong> {{ car.model_year }}<br>
            <strong>Manufacturer: </strong> {{ car.manufacturer_name }}<br>
            <strong>Model: </strong> {{ car.model_name }}<br>
            {% if car.concatenated_colors %}
                <strong>Color(s): </strong>{{ car.concatenated_colors }}<br>
		    {% endif %}
            <strong>Price: </strong> ${{ ((1.4 * car.purchase_price|float) + (1.2 * car.total_cost|float)) | round(2) }}<br>
            <strong>Description:</strong>{{ car.description }}
        </p>

	</div>

    <!-- Buttons at the bottom. Some display based on the role of the user currently logged in -->
    <div>

        <a class="button is-medium is-white" href="javascript:history.back()">Back</a>

        {% if session.get('role') == 'Buyer' or session.get('role') == 'Owner' %}
            <a class="button is-medium is-success">Buy</a>
        {% endif %}

        {% if session.get('role') == 'Sales' %}
            <a class="button is-medium is-success">Sell</a>
        {% endif %}
    </div>


</div>

{% endblock %}