{% extends "base.html" %}

{% block title %}Vehicles{% endblock %}

{% block body %}

<h1 class="title is-2 has-text-centered mb-5">Filtered Vehicles</h1>

<div class="columns m-5 is-multiline">
    {% for car in vehicles %}

    <div class="column p-4 is-one-third">
        <a href="{{ url_for('vehicle_details', vehicle_id=car.vehicleID) }}" class="box">
            <div class="media-content">
                <p class="is-size-4 mb-1">

                    <strong>
                        Vehicle Type: {{ car.vehicle_type_name }}<br>
                    </strong>
                        VIN: {{ car.vin }}<br>
                        Model Year: {{ car.model_year }}<br>
                        Manufacturer: {{ car.manufacturer_name }}<br>
                        Model Name: {{ car.model_name }}<br>
                        {% if display_color==True %}
                        Color: {{ car.concatenated_colors }}<br>
                        {% endif %}
                        Price: ${{ ((1.4 * (car.purchase_price|default(0)|float)) + (1.2 * (car.total_cost|default(0)|float))) | round(2) }}<br>
                </p>
            </div>            
        </a>
    </div>
    {% endfor %}
</div>


{% endblock %}
