<!-- Top nav bar minus the filters-->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu m-4 has-text-left is-flex is-align-items-center">

        <div class="navbar-start is-flex is-align-items-center">
            <a href="/home" class="navbar-item is-size-4 has-text-weight-bold has-text-info">Ben's Automobiles</a>
            <div class="dropdown">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu1">
                        <span>Reports</span>
                        <span class="arrow" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu1" role="menu">
                    <div class="dropdown-content">
                        <a href="/sales" class="dropdown-item">Sales Productivity</a>
                        <a href="/seller" class="dropdown-item">Seller History</a>
                        <a href="/statistics" class="dropdown-item">Part Statistics</a>
                    </div>
                </div>
            </div>
            <div class="navbar-item">
                <a href="/all_vehicles" class="button">All Cars</a>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">

                <!-- Display the first and last name of the user if they are logged in -->
                {% if session.get('first_name') %}
                    <label class="label ml-4">
                        Hello, {{ session.get('first_name') }} {{ session.get('last_name') }}<br>
                        Role: {{ session.get('role') }}
                    </label>
                {% endif %}
            </div>


            <div class="navbar-item">
                <div class="buttons is-centered">

                    <!-- If they are logged in display the sign out which, if clicked, will get rid of that session-->
                    {% if session.get('first_name') %}
                        <a class="button is-medium is-light" href="/delete_session">Sign Out</a>

                    <!-- If they are not logged in, display the login button-->
                    {% else %}
                        <a class="button is-medium is-primary" href="/login">Sign In</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>