{% extends "base.html" %}

{% block title %}Login {% endblock %}


{% block body %}
<div class="hero has-background-white is-fullwidth is-fullheight has-text-centered">
    <div class="column is-4 is-offset-4">
        <div class="mt-4">
            <form class="box" method="POST" action="{{ url_for('login') }}">

                <div class="field">
                    <label class="label has-text-left">Username</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="e.g., user01" name="username" required/>
                    </div>
                </div>

                <div class="field">
                    <label class="label has-text-left">Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="Password" name="password" required/>
                    </div>
                </div>

                <button type="submit" class="button is-medium is-fullwidth is-primary">Login</button>
                
                <!-- Display the invalid username message if you type the wrong information in the form-->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification is-danger mt-3">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}

            </form>
        </div>
    </div>
</div>

{% endblock %}

