{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block body %}

<h1 class="title is-2 has-text-centered">Sales Productivity Report</h1>

<div class="container">
    <table class="table is-striped is-fullwidth is-bordered">
        <thead>
            <tr>
                <th>Sales Person</th>
                <th>Vehicles Sold</th>
                <th>Total Sold Price</th>
                <th>Average Sale Price</th>
            </tr>
        </thead>
        <tbody>
        {% for p in info %}
            <tr>
                <td>{{ p.salesperson }}</td>
                <td>{{ p.vehicles_sold }}</td>
                <td>${{ p.total_sold_price | round(2, 'floor') | string}}</td>
                <td>${{ p.avg_sale_price | round(2, 'floor') | string }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}