{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block body %}

<h1 class="title is-2 has-text-centered">Seller History Report</h1>

<div class="container">
    <table class="table is-striped is-fullwidth is-bordered">
        <thead>
            <tr>
                <th>Seller</th>
                <th>Vehicles Sold to Dealer</th>
                <th>Total Paid to Seller</th>
            </tr>
        </thead>
        <tbody>
        {% for p in info %}
            <tr>
                <td>{{ p.seller_name }}</td>
                <td>{{ p.vehicles_sold_to_dealer }}</td>
                <td>${{ p.total_paid | round(2, 'floor') | string }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}