{% extends "base.html" %}

{% block title %}Reports{% endblock %}

{% block body %}

<h1 class="title is-2 has-text-centered">Part Statistics Report</h1>

<div class="container">
    <table class="table is-striped is-fullwidth is-bordered">
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Parts Purchased</th>
                <th>Total Parts Cost</th>
                <th>Avg. Cost Per Part</th>
            </tr>
        </thead>
        <tbody>
        {% for p in info %}
            <tr>
                <td>{{ p.vendor_name }}</td>
                <td>{{ p.parts_purchased }}</td>
                <td>${{ p.total_spent | round(2, 'floor') | string }}</td>
                <td>{% if p.avg_cost_per_part %}${{ p.avg_cost_per_part | round(2, 'floor') | string }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}